# 1. Compiled / Build outputs
/dist
/node_modules
/build

# 2. Prisma (Để tránh lỗi định dạng xuống dòng và làm nhẹ repo)
**/prisma/generated/
*.prisma-client

# 3. Environment variables (Bảo mật thông tin quan trọng)
.env
.env.*
!.env.example

# 4. Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 5. OS (Dành cho cả Mac và Windows)
.DS_Store
Thumbs.db
desktop.ini

# 6. IDEs and editors (Xóa bỏ cấu hình cá nhân của VSCode/JetBrains)
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# 7. Tests & Coverage
/coverage
/.nyc_output

# 8. Temporary/Runtime data
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
